<?xml version="1.0"?>
<robot name="spot_arm_moveit" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find spot_description)/urdf/standalone_arm.urdf.xacro" />

  <ros2_control name="SpotArmMock" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="state_following_offset">0.0</param>
    </hardware>

    <joint name="arm_sh0">
      <command_interface name="position">
        <param name="min">-2.618</param>
        <param name="max">3.142</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_sh1">
      <command_interface name="position">
        <param name="min">-3.142</param>
        <param name="max">0.524</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_el0">
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">3.142</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">1.8</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_el1">
      <command_interface name="position">
        <param name="min">-2.793</param>
        <param name="max">2.793</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_wr0">
      <command_interface name="position">
        <param name="min">-1.833</param>
        <param name="max">1.833</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_wr1">
      <command_interface name="position">
        <param name="min">-2.880</param>
        <param name="max">2.880</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="arm_f1x">
      <command_interface name="position">
        <param name="min">-1.57</param>
        <param name="max">0.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>
